
<head>
    <link rel="stylesheet" href="../../public/css/admin/admin.css">
</head>
<nav>
    <h1>Exam CBT Admin</h1>
    <ul>
        <li><a href="/admin/Daftar_Siswa">Siswa</a></li>
        <li><a href="/admin/Daftar_Guru">Guru</a></li>
        <li><a href="/admin/Nilai">Nilai</a></li>
    </ul>
</nav>
