<nav>
    <h1>Exam CBT Guru</h1>
    <ul>
        <li><a href="admin/Daftar_Siswa">Siswa</a></li>
        <li><a href="Daftar_Guru">Guru</a></li>
        <li><a href="Nilai">Nilai</a></li>
    </ul>
</nav>
